@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #14161b;
  }
}

.slick-slide {
  padding: 0 10px; /* Reduce default padding */
}

.slick-list {
  margin: 0 -10px; /* Adjust margin to remove gaps */
}

.slick-track {
  display: flex;
}

/* .header {
  z-index: 1;
}

.cursel{
  z-index: 0;
} */
